body {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
}

h1, picture {
    grid-column: 2 / 3;
}

img[data-src] {
    filter: blur(0.2em);
}
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
}