:root {
    --primary-dark-color: #284B63;
    --secondary-dark-color: #3C6E71;
    --accent-dark-color-1: #D9D9D9;
    --accent-dark-color-2: #FFFFFF;
    --light-text-color: #353535;
    --dark-text-color: #FFFFFF;

}

h1, h2, h3, h4, h5 { font-family: 'Lato', sans-serif; }
section, p, li, a { font-family: 'Roboto', sans-serif; }

.division {
    height: 1px;
    background: rgba(0, 0, 0, .3);
    width: calc(100% - 1.5rem);
    justify-content: center;
}

.banner {
    background-color: var(--secondary-dark-color);
    color: var(--dark-text-color);
    font-size: larger;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / -1;
}