:root {
    --main-dark-color: #354F52;
    --main-light-color: #CAD2C5;
    --text-dark-color: white;
    --text-light-color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }

h1, h2, h3, h4 { font-family: 'Lato', sans-serif; }
p, li, a { font-family: 'Roboto', sans-serif; }

body {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
}

header, main, footer {
    grid-column: 2 / 3;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0 1rem;
    margin: 2rem 1rem 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--main-dark-color);
    color: var(--text-dark-color);
}

header h1, img {
    align-self: center;
    justify-self: center;
}

header img {
    object-fit: cover;
    width: 100%;
}

nav {
    grid-column: 2 / 3;
	display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    background-color: var(--main-dark-color);
    gap: 0 1rem;
    margin: 0 1rem 1rem;
    padding: 1rem;
    border-radius: 10px;
}

nav div {
    width: 100%;
}

nav a {
	display: block;
	color: var(--text-dark-color);
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: var(--main-light-color);
	color: var(--text-light-color);
    border-radius: 10px;
}

main {
    display: grid !important;
    grid-template-columns: auto;
    gap: 1rem 0;
    margin-top: 1rem 0.5rem 0.5rem;
    padding: 1rem;
}

main ul {
    margin-left: 2rem;
    padding: 15px 0;
}

main p {
    border-top: 1px solid black;
}

main h2 {
    border-bottom: 1px solid black;
}

section {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem 1rem;
}

section h3 {
    grid-column: 1 / -1;
}

section p {
    grid-row: 2;
    grid-column: 1 / -1;
}

section img {
    object-fit: cover;
    width: 100%;
    grid-row: 3;
    grid-column: 2 / 3;
}

article {
    background-color: var(--main-light-color);
    border-radius: 15px;
    margin: 2rem 0;
}

article h3 {
    background-color: var(--main-dark-color);
    color: var(--text-dark-color);
    border-radius: 15px 15px 0 0;
    padding: 1rem;
}

article h4 {
    padding: 1rem;
}

article a {
    display: block;;
    padding: 0.5rem 1rem;
}

article img {
    padding: 1rem;
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
}

article p {
    padding: 1rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 2rem 1rem 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--main-dark-color);
    color: var(--text-dark-color);
}

footer p {
    grid-column: 2 / 3;
    text-align: center; 
}